extend ../layout
block content
	.containerbody
		h1.singleLineText Help Requests
		p(id='sessionUser', style='display: none') #{user}
	.container
		#tabs(role='tabpanel')
			ul.nav.nav-tabs(roles='tablist')
				li.active(role='presentation')
					a(href='#requests', aria-controls='requests', role='tab' data-toggle='tab') Requests
				li(role='presentation')
					a(href='#hidden', aria-controls='hidden', role='tab' data-toggle='tab') Hidden
			
			.tab-content#tabContainer0
				.tap-pane.active#requests(role='tabpanel')
					table.display#DT-requests
						thead
							tr
								th Name
								th Location
								th Description
								th Created At
								th Functions
						tbody
				
							for help in helpData
								if !help.hidden
									tr(id='#{help.objectId}')
										td #{help.name}
										td #{help.location}
										td #{help.description}
										td #{help.createdAt}
										td 
											button.btn(name='hide', data-objectId='#{help.objectId}') Hide
							
				.tap-pane#hidden(role='tabpanel', style='display: none')
					table.display#DT-hidden
						thead
							tr
								th Name
								th Location
								th Description
								th Created At
								th(id='hiddenBy') Hidden By
						tbody
							for help in helpData
								if help.hidden
									tr(id='#{help.objectId}')
										td #{help.name}
										td #{help.location}
										td #{help.description}
										td #{help.createdAt}
										td(id='') #{help.hiddenBy}
	.footer-spacer
							

block localCSS
	link(rel='stylesheet', href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
	
block localJavascript
	script(src='/bower_components/socket.io-client/socket.io.js')
	script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
	script(src='/js/user/user-help.js')
