extend ../layout
block content
	.containerbody
		h1.singleLineText Application Managment
		
	.container
		.row.text-medium.text-center
			ul.list-inline
				li.col-xs-2#pending PENDING&#32;&#32;?
				li.col-xs-2#waitlisted WAITLISTED&#32;&#32;?
				li.col-xs-2#accepted ACCEPTED&#32;&#32;?
				li.col-xs-2#going GOING&#32;&#32;?
				li.col-xs-2#notGoing NOT GOING&#32;&#32;?
				li.col-xs-2#loading
					img(src='/img/loading.gif')
		br
		#tabs(role='tabpanel')
			//- Nav tabs
			ul.nav.nav-tabs(roles='tablist')
				li.active(role='presentation')
					a(href='#schools', aria-controls='schools', role='tab' data-toggle='tab') Schools
				li(role='presentation')
					a(href='#all', aria-controls='all', role='tab' data-toggle='tab') Applications
				li(role='presentation')
					a(href='#QAs', aria-controls='QAs', role='tab' data-toggle='tab') Q/A
				
			//- Tab panes
			.tab-content#tabContainer0
				.tap-pane.active#schools(role='tabpanel')
					//- | SCHOOL SUMMARY (Jared)
					table.display#DT-schools
						thead
							tr
								th School
								th Email
								th Count
								th P
								th W
								th A
								th G
								th N
						tbody
							for school in schools
								tr
									//- all matching school names
									td
										for name in school.names
											| #{name}; 
									//- all matching email extensions
									td 
										for email in school.emails
											| #{email}; 
									//- count of all for the school
									td #{school.count}
									td #{school.pending}
									td #{school.waitlisted}
									td #{school.accepted}
									td #{school.going}
									td #{school.notGoing}
						tfoot
							tr
								th School
								th Email
								th Count
								th P
								th W
								th A
								th G
								th N
				
				.tap-pane#all(role='tabpanel')
					table.display#DT-all
						thead
							tr
								th First Name
								th Last Name
								th Email
								th School
								th Major
								th Year
								th GitHub
								th First?
								th Applied
								th Status
								th Functions
						tbody
							for app in apps
								tr
									td #{app.firstName}
									td #{app.lastName}
									td #{app.email}
									td #{app.school}
									td #{app.major}
									td #{app.year}
									td #{app.github}
									td #{app.QAs[0]}
									td #{app.createdAt}
									td #{app.status}
									td
										if !app.status || app.status == 'pending' || app.status == 'waitlisted'
												button.btn(name='accept', data-objectId='#{app.objectId}', data-status='#{app.status}') Accept
												if app.status != 'waitlisted'
													button.btn(name='waitlist', data-objectId='#{app.objectId}', data-status='#{app.status}') Waitlist
												else
													p N/A
										else
											p N/A
											p N/A

						tfoot
							tr
								th First Name
								th Last Name
								th Email
								th School
								th Major
								th Year
								th GitHub
								th First?
								th Applied
								th Status
								th Functions
				
				.tap-pane#QAs(role='tabpanel')
						#tabsQAs(role='tabpanel')
							//- Nav tabs
							ul.nav.nav-pills(roles='tablist')
								li.active(role='presentation')
									a(href='#QA1', aria-controls='QA1', role='tab' data-toggle='tab') One thing you hate about hackthons?
								li(role='presentation')
									a(href='#QA2', aria-controls='QA2', role='tab' data-toggle='tab') Things you want to learn?
								li(role='presentation')
									a(href='#QA3', aria-controls='QA3', role='tab' data-toggle='tab') Dietary restriction?
								li(role='presentation')
									a(href='#QA4', aria-controls='QA4', role='tab' data-toggle='tab') Comments?
								li(role='presentation')
									a(href='#under18', aria-controls='under18', role='tab' data-toggle='tab') Under 18?
								li(role='presentation')
									a(href='#phoneNumbers', aria-controls='phoneNumbers', role='tab' data-toggle='tab') Phone Numbers?
								li(role='presentation')
									a(href='#specialNeeds', aria-controls='specialNeeds', role='tab' data-toggle='tab') Special Needs?
								li(role='presentation')
									a(href='#tshirt', aria-controls='tshirt', role='tab' data-toggle='tab') T-Shirt Size?
								li(role='presentation')
									a(href='#gender', aria-controls='gender', role='tab' data-toggle='tab') Gender? (anon)
								li(role='presentation')
									a(href='#bday', aria-controls='bday', role='tab' data-toggle='tab') Birthdate? (anon)
							.tab-content#tabContainer1
								//- Hate
								.tap-pane#QA1(role='tabpanel')
									table.display#DT-QA1
										thead
											tr
												th First Name
												th Last Name
												th Answer
												
										tbody
											for app in apps
												if app.QAs[1].trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.QAs[1]}
													
										tfoot
											tr
												th First Name
												th Last Name
												th Answer
								//- Want to learn
								.tap-pane#QA2(role='tabpanel')
									table.display#DT-QA2
										thead
											tr
												th Option
												th Count
												
										tbody
											tr
												td iOS
												td #{QA2Counts[0]}
											tr
												td Android
												td #{QA2Counts[1]}
											tr
												td Web
												td #{QA2Counts[2]}
											tr
												td Front End
												td #{QA2Counts[3]}
											tr
												td Back End
												td #{QA2Counts[4]}
											tr
												td 'Off The Shelf' Hardware: Myo, Oculus Rift, Leap Motion, etc.
												td #{QA2Counts[5]}
											tr
												td Microcontrollers: Arduino, Raspberry Pi, etc.
												td #{QA2Counts[6]}
	
										tfoot
											tr
												th Option
												th Count
								
								//- Diet
								.tap-pane#QA3(role='tabpanel')
									table.display#DT-QA3
										thead
											tr
												th First Name
												th Last Name
												th Answer
												
										tbody
											for app in apps 
												if app.QAs[3].trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.QAs[3]}
												if app.status == 'going' && app.confirmQAs.diet != null && app.confirmQAs.diet.trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.confirmQAs.diet}
													
										tfoot
											tr
												th First Name
												th Last Name
												th Answer
								//- Comments
								.tap-pane#QA4(role='tabpanel')
									table.display#DT-QA4
										thead
											tr
												th First Name
												th Last Name
												th Answer
												
										tbody
											for app in apps
												if app.QAs[4].trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.QAs[4]}
												if app.status == 'going' && app.confirmQAs.comments != null && app.confirmQAs.comments.trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.confirmQAs.comments}
													
										tfoot
											tr
												th First Name
												th Last Name
												th Answer
								
								//- Under 18
								.tap-pane#under18(role='tabpanel')
									table.display#DT-under18
										thead
											tr
												th First Name
												th Last Name
												
										tbody
											for app in apps
												if app.status == 'going' && app.confirmQAs.under18
													tr
														td #{app.firstName}
														td #{app.lastName}
													
										tfoot
											tr
												th First Name
												th Last Name
								
								//- Phone #s
								.tap-pane#phoneNumbers(role='tabpanel')
									table.display#DT-phoneNumbers
										thead
											tr
												th First Name
												th Last Name
												th Phone Number
												th Emergency Contact Phone Number
										tbody
											for app in apps
												if app.status == 'going'
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.phoneNumber}
														td #{app.confirmQAs.emergencyContact}
													
										tfoot
											tr
												th First Name
												th Last Name
												th Phone Number
												th Emergency Contact Phone Number
								
								//- Special Needs 
								.tap-pane#specialNeeds(role='tabpanel')
									table.display#DT-specialNeeds
										thead
											tr
												th First Name
												th Last Name
												th Special Accomodations Requested
												
										tbody
											for app in apps
												if app.status == 'going' && app.confirmQAs.specialNeeds != null && app.confirmQAs.specialNeeds.trim()
													tr
														td #{app.firstName}
														td #{app.lastName}
														td #{app.confirmQAs.specialNeeds}
										tfoot
											tr
												th First Name
												th Last Name
												th Answer
								
								//- tshirt stats
								.tap-pane#tshirt(role='tabpanel')
									table.display#DT-tshirt
										thead
											tr
												th Size
												th Men's
												th Women's
										tbody
											tr
												td Extra Small
												td #{tshirtCounts.mens_xs}
												td #{tshirtCounts.womens_xs}
											tr
												td Small
												td #{tshirtCounts.mens_s}
												td #{tshirtCounts.womens_s}
											tr
												td Medium
												td #{tshirtCounts.mens_m}
												td #{tshirtCounts.womens_m}
											tr
												td Large
												td #{tshirtCounts.mens_l}
												td #{tshirtCounts.womens_l}
											tr
												td Extra Large
												td #{tshirtCounts.mens_xl}
												td #{tshirtCounts.womens_xl}
										tfoot
											tr
												th Size
												th Men's
												th Women's
								//- gender
								.tap-pane#gender(role='tabpanel')
									table.display#DT-gender
										thead
											tr
												th Gender
												th Count
												
										tbody
											tr
												td Male
												td #{aStats.gender.male}
											tr
												td Female
												td #{aStats.gender.female}
											tr
												td Other
												td #{aStats.gender.other}
											
										tfoot
											tr
												th Gender
												th Count
								//- Birthdate
								.tap-pane#bday(role='tabpanel')
									table.display#DT-bday
										thead
											tr
												th Birthdate
												th Age
												
										tbody
											for bday in aStats.birthdates
												tr
													td #{bday.date}
													td #{bday.age}
										tfoot
											tr
												th Birthdate
												th Age
												
			
		
block localCSS
	link(rel='stylesheet', href='/css/admin/admin-applications.css')
	link(rel='stylesheet', href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
	
block localJavascript
	script(src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
	script(src='/js/admin/admin-applications.js')

