extend ../layout
block content
	.containerbody
		h1.singleLineText Check-in Management
		
	.container
		.row.text-medium.text-center
			ul.list-inline
				li.col-xs-2#total TOTAL&#32;&#32;?
				li.col-xs-2#expected EXPECTED&#32;&#32;?
				li.col-xs-2#checkedin CHECKED IN&#32;&#32;?
				li.col-xs-2#loading
					img(src='/img/loading.gif')
		br
		table.display#DT-checkins
			thead
				tr
					th#firstName First Name
					th#lastName Last Name
					th#email Email
					th#school School
					th#first First?
					th#status Status
					th#functions Check In
			tbody
				for hacker in hackers
					tr(id='#{hacker.objectId}')
						td #{hacker.firstName}
						td #{hacker.lastName}
						td #{hacker.email}
						td #{hacker.school}
						td
							if hacker.QAs[0] == true
								p Yes
							else
								p No
						
						if hacker.status == 'checked in'
							td
								img(src='/img/checkedIn.png')
						else if hacker.status == 'going'
							td #{hacker.status}
						else
							td(style="color: red") #{hacker.status}
						
						td
							if hacker.status == 'going'
								button.btn(name='checkin', data-objectId='#{hacker.objectId}', data-status='#{hacker.status}') Check In
							else if hacker.status == 'checked in'
								p Done!
							else if hacker.status == 'not going'
								p (See Jared)
							else if	hacker.status == 'accepted'
								p Must confirm!
								
			tfoot
				tr
					th First Name
					th Last Name
					th Email
					th School
					th First?
					th Status
					th Functions
	.footer-spacer
		
block localCSS
	link(rel='stylesheet', href='//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css')
	
block localJavascript
	script(src='https://cdn.socket.io/socket.io-1.2.0.js')
	script(src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
	script(src='/js/admin/admin-checkins.js')
