//- 
	Standard page layout for user pages

extend base

block header
	//- Navigation Menu
	#main-menu.main-menu.main-menu-fixbg
		.center-relative.menu-holder
			.menu-logo.left
				img#logo(src='/assets/img/white_feather.png')
				h3.logotext HackFSU
			ul.right.montserrat-font
				- var linkUrl;
				
				- linkUrl = '/';
				li(class=(urlPath === linkUrl? 'active': ''))
					a(href='#{linkUrl}') HOME
				
				if !acl || (acl && !acl.isRole.Mentor)
					- linkUrl = '/help';
					li(class=(urlPath === linkUrl? 'active': ''))
						a(href='#{linkUrl}') HELP ME!
				
				if acl && acl.isRole.User
					- linkUrl = '/user/profile';
					li(class=(urlPath === linkUrl? 'active': ''))
						a(href='#{linkUrl}') PROFILE
					
					//- if acl.canAccess.Judge
						- linkUrl = '/judge'
						li(class=(urlPath === linkUrl? 'active': ''))
							a(href='${linkUrl}') JUDGE
					
					if acl.canAccess.Mentor
						- linkUrl = '/mentor/helprequests';
						li(class=(urlPath === linkUrl? 'active': ''))
							a(href='#{linkUrl}') HELP REQUESTS
					
					if acl.canAccess.Admin
						- linkUrl = '/admin';
						li(class=(urlPath === linkUrl? 'active': ''))
							a(href='#{linkUrl}') ADMIN
					
					- linkUrl = '/user/logout';
					li(class=(urlPath === linkUrl? 'active': ''))
						a(href='#{linkUrl}') LOGOUT
				else
					- linkUrl = '/login';
					li(class=(urlPath === linkUrl? 'active': ''))
						a(href='#{linkUrl}') LOGIN
			.clear
