extends ../../_layouts/user

block vars
	- title = 'Mentor | Help Requests'

block localCSS
	link(rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css")
		
block localJS
	script(src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js")
	script(src='/socket.io/socket.io.js')
	script(src="/js/helpreqs.js")

block content
	#help-request-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title-fixed.singleLineText Help Requests
			.title-separator
			
			p Hey mentors, go out out and help people! Ignore the 'ASSIGN' thing for now, that should be up soon though.
			
			#helpreq-section
				table#helpreqs.dataTable
					thead
						tr
							th Name
							th Location
							th Description
							th Actions
					tbody
						each req in helpReqs
							tr 
								td= req.get('name')
								td= req.get('location')
								td= req.get('description')
								td
									button.btn.btn-help Assign to Me
									div(id="assign-#{req.id}")
										input(id="hr-#{req.id}" type="hidden" name="helpreq" value="#{req.id}")
										input(id="m-#{mentor.id}" type="hidden" name="mentor" value="#{mentor.id}")
						if helpReqs.length === 0
							tr 
								td(colspan="4") No help requests
