extend ../layout
block content
    .container
        div(class='panel panel-default')
            .panel-heading
                h3.panel-title= title
            .panel-body
                p.
                    Hey, people are going to register through this form. It's not prettty
                    yet, but it will be!
                p
                    strong TODO:&nbsp;
                    | Make school a selection list

                form.form-horizontal(name='registration', method='post', action='/register/submit', role='form')
                    .form-group
                        label(for='firstName', class='col-lg-2 control-label') First Name
                        .col-lg-6
                            input#firstName(type='text', class='form-control' placeholder='Put your first name here', name='firstName', value=firstName)
                    .form-group
                        label(for='lastName', class='col-lg-2 control-label') Last Name
                        .col-lg-6
                            input#lastName(type='text', class='form-control', name='lastName', placeholder='And put your last name here', value=lastName)
                    .form-group
                        label(for='gender', class='col-lg-2 control-label') Gender
                        .col-lg-6
                            select#gender(class='form-control', name='gender', value=gender)
                                option(selected='true', disabled='true') Please select your gender
                                option#gender0(value='Male') Male
                                option#gender1(value='Female') Female
                                option#gender2(value='Other') Other
                    .form-group
                        label(for='school', class='col-lg-2 control-label') School
                        .col-lg-6
                            input#school(type='text', class='form-control', name='school', placeholder='Put the name of your school here (for now)', value=school)
                    .form-group
                        label(for='school', class='col-lg-2 control-label') Email
                        .col-lg-6
                            .input-group
                                input#email(type='text', class='form-control', name='email', placeholder='youremail@your.uni', value=email)
                                span.input-group-addon .edu
                    .form-group
                        label(for='currentYear', class='col-lg-2 control-label') Current Year
                        .col-lg-6
                            select#currentYear(class='form-control', name='currentYear', value=currentYear)
                                option(selected='true', disabled='true') Please select the classification that best describes you
                                option#year0(value='Freshman') Freshman
                                option#year1(value='Sophomore') Sophomore
                                option#year2(value='Junior') Junior
                                option#year3(value='Senior') Senior
                                option#year4(value='Graduate Student') Graduate Student
                                option#year5(value='High School Student') High School Student
                    .form-group
                        label(for='major', class='col-lg-2 control-label') Major
                        .col-lg-6
                            input#major(type='text', class='form-control', name='major', placeholder='What are you majoring in?!', value=major)
                    .form-group
                        label(for='github', class='col-lg-2 control-label') GitHub
                        .col-lg-6
                            .input-group
                                span.input-group-addon https://github.com/
                                input#github(type='text', class='form-control', name='github', placeholder='yourusername', value=github)
                    .form-group
                        label(for='firstHack', class='col-lg-2 control-label') Will this be your first hackathon?
                        .col-lg-6
                            label.radio-inline
                                input#firstHack0(type='radio', name='firstHack', value='Yes')
                                | Yes
                            label.radio-inline
                                input#firstHack1(type='radio', name='firstHack', value='No')
                                | No
                    .form-group
                        div(class='col-lg-offset-2 col-lg-5 pull-right')
                            button(type='submit', class='btn btn-primary') Send!
