extend ../layout
block content
	.container
		h1 Application
		div(class='col-lg-offset-2 col-lg-10 pull-left')

				form.form-horizontal(id='application', method='post', action='/apply_submit', role='form')
					.form-group
						label(for='firstName', class='col-lg-2 control-label') First Name *
						.col-lg-6
							input#firstName(type='text', class='form-control' placeholder='What do your homies call you', name='firstName', value=firstName)
					
					.form-group
						label(for='lastName', class='col-lg-2 control-label') Last Name *
						.col-lg-6
							input#lastName(type='text', class='form-control', name='lastName', placeholder='Whats the fam go by', value=lastName)
				
					.form-group
						label(for='school', class='col-lg-2 control-label') School *
						.col-lg-6
							input#school(type='text', class='form-control', name='school', placeholder='Florida State University', value=school)
					
					.form-group
						label(for='email', class='col-lg-2 control-label') Email *
						.col-lg-6
							.input-group
								input#email(type='email', class='form-control', name='email', placeholder='What\'s your .edu', value=email)
					
					.form-group
						label(for='year', class='col-lg-2 control-label') Current Year *
						.col-lg-6
							select#year(class='form-control', name='year', value='year')
								option(selected='true', disabled='true') Shoutout to Saved By The Bell
								option(value='Freshman') Freshman
								option(value='Sophomore') Sophomore
								option(value='Junior') Junior
								option(value='Senior') Senior
								option(value='Graduate Student') Graduate Student
								option(value='High School Student') High School Student
					
					.form-group
						label(for='major', class='col-lg-2 control-label') Major
						.col-lg-6
							input#major(type='text', class='form-control', name='major', placeholder='What books you readin\'', value=major)
					
					.form-group
						label(for='github', class='col-lg-2 control-label') GitHub
						.col-lg-6
							.input-group
								span.input-group-addon http://github.com/
								input#github(type='text', class='form-control', name='github', placeholder='bet you have some mad PRs', value=github)					
					
					//- These questions could be added dynamically if needed
					.form-group
						label(for='QA0', class='col-lg-2 control-label') Will this be your first hackathon? *
						.col-lg-6(style='margin-top: 12px')

							p
								input(type="radio", name='QA0', value='Yes', id='hackYes')
								label(for="hackYes") Yes

							p
								input(type="radio", name='QA0', value='No', id='hackNo')
								label(for="hackNo") No

					.form-group
						label(for='QA1', class='col-lg-2 control-label') What is one thing you hate about hackathons?
						.col-lg-6
							textarea#QA1(rows='3', class='form-control', name='QA1', placeholder='', value=QA1)
					.form-group
						label(for='QA2', class='col-lg-2 control-label') What do you want to learn or hack on for the weekend?
						.col-lg-6(style='margin-top: 12px')
							p
								input(type="checkbox" id="ios")
								label(for="ios") iOS

							p
								input(type="checkbox" id="android")
								label(for="android") Android

							p
								input(type="checkbox" id="front")
								label(for="front") Front End

							p
								input(type="checkbox" id="back")
								label(for="back") Back End

							p
								input(type="checkbox" id="shelf")
								label(for="shelf") 'Off The Shelf' Hardware: Myo, Oculus Rift, Leap Motion, etc.

							p
								input(type="checkbox" id="micro")
								label(for="micro") Microcontrollers: Arduino, Raspberry Pi, etc.

							p
								input(type="checkbox" id="sleep" disabled="true")
								label(for="sleep") Sleep

					.form-group
						label(for='QA4', class='col-lg-2 control-label') Food Allergies?
						.col-lg-6
							input#QA4(type='text', class='form-control', name='QA4', placeholder='', value=QA4)
					.form-group
						label(for='QA5', class='col-lg-2 control-label') Comments?
						.col-lg-6
							input#QA5(type='text', class='form-control', name='QA5', placeholder='', value=QA5)
								
					.form-group
						div(class='col-lg-offset-7 col-lg-5 pull-right')
							button(type='submit', class='btn') holla.

block localJavascript
	script(src='js/parse/parse-apply.js')