extend ../layout
block content
	.containerbody
		h1.singleLineText #{title}
		
		if !foundApp
			h2 Error!
			p #{msg}
			.footer-spacer
		else
			//- Application found, check status
			
			h2 Hello #{appData.firstName} #{appData.lastName}!
			//- 
				br
				p.text-medium Applcation Status: <b>#{appData.status}</b>
			br
				
			if appData.status == 'pending'
				p.text-medium Applcation Status: <b>#{appData.status}</b>
				.footer-spacer
			else if appData.status == 'waitlisted'
				p.text-medium Applcation Status: <b>#{appData.status}</b>
				.footer-spacer
			else if appData.status == 'going'
				p.text-medium Applcation Status: <b>#{appData.status}</b>
				p
					| You have already confirmed as going, see you soon! Join our 
					a(href='http://www.facebook.com/groups/622705054530502/') Attendee’s Group
					|  on Facebook to stay up to date, meet other hackers, and ask any questions you may have!
				.footer-spacer
			else if appData.status == 'not going'
				p.text-medium Applcation Status: <b>#{appData.status}</b>
				p.
					You have already confirmed as not going. Thanks for your interest in HackFSU, we hope to see you next year!
				.footer-spacer
			else if appData.status == 'accepted'
				.formResult
				form.form-horizontal#confirmForm(method='post', action='#', role='form')
					h3 Congratulations you have been accepted! Please fill out this form to confirm your spot!
					input#confirmationId(value='#{confirmationId}', hidden)
					.form-group(style='margin-top: 50px')
						.col-sm-4.col-sm-offset-2
							input#going-y(type="radio", name='going', value='Yes')
							label(for="going-y") I will be attending HackFSU
						.col-sm-4
							input#going-n(type="radio", name='going', value='No')
							label(for="going-n") I will not be attending HackFSU
					
					//- Hidden + covered section until above is as yes
					.overlay-container(style='margin-top: 25px')
						br
						.overlay-img
						.overlay-content
							.form-group
								label.control-label.col-sm-3(for='phoneNumber') Phone Number? *
								.col-sm-9
									input.form-control#phoneNumber(type='text', placeholder='123-456-7890')
							.form-group
								label.control-label.col-sm-3(for='emergencyContact') Emergency Contact? *
								.col-sm-9
									input.form-control#emergencyContact(type='text', placeholder='123-456-7890')

							.form-group
								label.control-label.col-sm-3(for='tshirt') T-Shirt Size? *
								.col-sm-9
									select.form-control#tshirt(name='tshirt')
										option(selected='true', disabled='true') Pick your size
										option(value='m-xs') Men's Extra Small
										option(value='m-s') Men's Small
										option(value='m-m') Men's Medium
										option(value='m-l') Men's Large
										option(value='m-xl') Men's Extra Large
										option(value='w-xs') Women's Extra Small
										option(value='w-s') Women's Small
										option(value='w-m') Women's Medium
										option(value='w-l') Women's Large
										option(value='w-xl') Women's Extra Large

							.form-group
								label.control-label.col-sm-3(for='under18') Under 18? *
								.col-sm-1(style='margin-top: 9px')
										input#under18-y(type="radio", name='under18', value='Yes')
										label(for="under18-y") Yes
								.col-sm-1.col-sm-offset-1(style='margin-top: 9px')
										input#under18-n(type="radio", name='under18', value='No')
										label(for="under18-n") No
							.form-group
								label.control-label.col-sm-3(for='specialNeeds') Special Accommodations?
								.col-sm-9
									input.form-control#specialNeeds(type='text', name='specialNeeds', placeholder="Wheelchair access etc.")
							
							//- TODO
							//- .form-group
							//- 	label.control-label.col-sm-3(for='resume') Résumé?
							//- 	.col-sm-9
							//- 		input.form-control#resume(type='file', name='resume')
							
							
							
							p.text-medium(style='margin-top: 100px').
								Anonymous, Voluntary Statistics
							.form-group
								label.control-label.col-sm-3(for='gender') Gender Identity?
								.col-sm-1(style='margin-top: 9px')
										input#gender-m(type="radio", name='gender', value='male')
										label(for="gender-m") Male
								.col-sm-1.col-sm-offset-1(style='margin-top: 9px')
										input#gender-f(type="radio", name='gender', value='female')
										label(for="gender-f") Female
								.col-sm-1.col-sm-offset-1(style='margin-top: 9px')
										input#gender-o(type="radio", name='gender', value='other')
										label(for="gender-o") Other
							.form-group
								label.control-label.col-sm-3(for='bday') Birthdate?
								.col-sm-9
									input.form-control#bday(type='text', name='bday', placeholder="mm/dd/yyyy")
							
											
							if !appData.hasDiet
								.hidden-container(style='display: block; margin-top: 100px')
									p.text-medium(style='display: inline')
										| We apologize if you have already given us this information, but there was a bug in our code and we lost most of these answers from the applications. 
									p.text-medium.hidden-text(style='display: inline')
										| Our application page may or may not have been built in a 12-hour all-nighter, and we may or may not have said f*ck it ship it.
								.form-group
									label.control-label.col-sm-3(for='diet') Dietary restrictions?
									.col-sm-9
										input.form-control#diet(type='text', name='diet', placeholder='Vegan, vegetarian, etc.')
						
								.form-group
									label.control-label.col-sm-3(for='comments') Comments?
									.col-sm-9
										input.form-control#comments(type='text', name='comments', placeholder="We're all ears!")

							.form-group(style='margin-top: 100px')
								.col-sm-9.col-sm-offset-2
									p
										input#agreement(type="checkbox", name='agreement', value='Yes')
										label(for="agreement") I have read and agree to the 
											a.link-text(target='_blank', href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct
											|  and the 
											a.link-text(target='_blank', href='/res/HackFSU-RELEASE-OF-LIABILITY.pdf') Liability Waiver
											| .
						br
					br
					.form-group
						.form-error-msg.col-sm-offset-1.col-sm-6.pull-left
						.col-sm-3.pull-right
							button.btn#submit(type='submit') Submit
					

block localJavascript
	script(src='/js/public/public-confirm.js')