extend ../layout
block content
	.containerbody
		h1.singleLineText Schedule
		
		if schedItems != null
			h2 <b>FRIDAY</b><br>
			for item in schedItems
				if item.startDay == 'Fr'
					h2.row
						.col-xs-3 #{item.startTime}
						.col-xs-9 #{item.title}
					if item.subtitle.length > 0
						.row.text-medium
							.col-xs-offset-3.col-xs-9 #{item.subtitle}
					hr
			
			br
			h2 <b>SATURDAY</b><br>
			for item in schedItems
				if item.startDay == 'Sa'
					h2.row
						.col-xs-3 #{item.startTime}
						.col-xs-9 #{item.title}
					if item.subtitle.length > 0
						.row.text-medium
							.col-xs-offset-3.col-xs-9 #{item.subtitle}
					hr
			
			br
			h2 <b>SUNDAY</b><br>
			for item in schedItems
				if item.startDay == 'Su'
					h2.row
						.col-xs-3 #{item.startTime}
						.col-xs-9 #{item.title}
					if item.subtitle.length > 0
						.row.text-medium
							.col-xs-offset-3.col-xs-9 #{item.subtitle}
					hr
		else
			h2 Error!
			h3 There was a problem grabbing the schedule. Try refreshing this page.



